body {
  background-image: url("../images/cave.jpg");
  background-size: 82%;
  background-position: inherit;
  background-repeat: inherit;
  position: relative; 
  color: white;
  z-index: 1;
}
.howto {
  position: absolute;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
  left: 361px;
  top: 300px;
  font-size: 23px;
  color: yellow;
 }
.crystal1{
  width: 200px;
  height: 220px;
  opacity: 0.7;
  position: absolute;
  left: 150px;
  top: 500px;
  z-index: 2;
}
.crystal3 {
  width: 200px;
  height: 200px;
  opacity: 0.6;
  position: absolute;
  top: 540px; 
  left: 410px;
  z-index: 2;
}
.crystal2 {
  width: 210px;
  height: 210px;
  opacity: 0.6;
  position: absolute;
  top: 550px; 
  left: 745px;
  z-index: 2;
}

.crystal4 {
  width: 150px;
  height: 310px;
  opacity: 0.7;
  position: absolute;
  top: 440px; 
  left: 980px;
  z-index: 2;
 }

 .woodsign {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 1100px;
  top: 480px;
  z-index: 1;
 }
 .score {
   position: absolute;
   font-size: 15px;
   line-height: 90%;
   left: 1150px;
   top: 500px;
   color: black;
   z-index: 1;
 }
 .banner {
   position: absolute;
   width: 50%;
   height: 185px;
   top: 55px;
   left: 250px;
   z-index: 1;
 }
 .information {
   position: absolute;
   color: black;
   font-size: 15px;
   line-height: 80%;
   top:80px;
   left: 550px;
   z-index: 1;
 }

 @media all and (max-width: 1690px) {
body {
  background-size: 73%;
}
 } 

@media all and (max-width: 1440px) {
  body {
    background-size: 85%;
  }
  .banner {
    left: 340px;
  }
  .howto {
    left: 398px;
  }
}
@media all and (max-width: 1280px) {
  body {
    background-size: 94%;
  }
  .banner {
    left: 370px;
  }
  .woodsign {
    left:1025px;
  }
  .score {
    left:1080px
  }
}
@media all and (max-width: 1024px) {
body {
  background-size: 110%
}
.crystal1{
  width: 200px;
  height: 220px;
  left: 90px;
  top: 470px;
  z-index: 2;
}
.crystal3 {
  width: 200px;
  height: 200px;
  top: 540px; 
  left: 300px;
}
.crystal2 {
  width: 210px;
  height: 210px;
  top: 550px; 
  left: 520px;
}

.crystal4 {
  width: 150px;
  height: 310px;
  top: 440px; 
  left: 750px;
 }
.howto {
  left: 240px;
}
.banner {
  left: 255px;
}
.information {
  left: 370px;
}
.woodsign {
  left: 800px;
}
.score {
  left: 840px;
}

}
@media all and (max-width: 736px) {
  body {
    background-image: url("../images/space.jpg");
    background-size: 100%;
}
.banner {
  height: 120px;
  left: 230px;
}
.information {
  top: 70px;
  left: 320px;
  font-size: 10px;
}
.howto {
  top: 150px;
  left: 160px;
  font-size: 20px;
}
.woodsign{
  display: none;
}
.score {
  color: white;
  left: 360px;
  top: 400px;
  font-size: 10px
}
.crystal1{
  width: 150px;
  height: 150px;
  opacity: 1;
  left: 20px;
  top: 550px;
  z-index: 2;
}
.crystal3 {  
  width: 150px;
  height: 150px;
  opacity: 1;
  top: 550px; 
  left: 240px;
}
.crystal2 {
  width: 150px;
  height: 150px;
  top: 550px; 
  left: 420px;
  opacity: 1;
}

.crystal4 {
  width: 150px;
  height: 150px;
  top: 550px; 
  left: 600px;
  opacity: 1;
 }
}
@media all and (max-width: 480px) {
  body {
    background-image: url("../images/space.jpg");
    background-size: 100%;
  }
  .banner {
    display: none;
  }
  .information{
    color: white;
    left: 20px;
    top: 21px;
  }
  .howto {
    left: 20px;
    font-size: 15px;
    top: 85px;
  }
  .score {
    left: 20px;
    top: 320px;
    color: white;
  }
  .crystal1{
    width: 80px;
    height: 100px;
    opacity: 1;
    left: 20px;
    top: 420px;
    z-index: 2;
  }
  .crystal3 {
    width: 100px;
    height: 100px;
    opacity: 1;
    top: 550px; 
    left: 80px;
  }
  .crystal2 {
    width: 100px;
    height: 100px;
    top: 420px; 
    left: 120px;
    opacity: 1;
  }
  
  .crystal4 {
    width: 100px;
    height: 100px;
    top: 550px; 
    left: 200px;
    opacity: 1;
   }
@media all and (max-width: 375px) {
body {
  background-image: url("../images/space.jpg");
  background-size: 100%;
}
.banner {
  display: none;
}
.information{
  color: white;
  left: 20px;
  top: 21px;
}
.howto {
  left: 20px;
  font-size: 15px;
  top: 85px;
}
.score {
  left: 20px;
  top: 320px;
  color: white;
}
.crystal1{
  width: 80px;
  height: 100px;
  opacity: 1;
  left: 20px;
  top: 420px;
  z-index: 2;
}
.crystal3 {
  width: 100px;
  height: 100px;
  opacity: 1;
  top: 550px; 
  left: 80px;
}
.crystal2 {
  width: 100px;
  height: 100px;
  top: 420px; 
  left: 120px;
  opacity: 1;
}

.crystal4 {
  width: 100px;
  height: 100px;
  top: 550px; 
  left: 200px;
  opacity: 1;
 }
}
}